aiofiles==0.3.2
aiohttp==2.2.5
async-timeout==2.0.0
beautifulsoup4==4.6.0
certifi==2022.12.7
chardet==3.0.4
DerPyBooru==0.7.3
idna==2.6
lxml==4.1.1
multidict==4.0.0
Pillow==5.0.0
pony==0.7.3
requests==2.18.4
urllib3==1.22
uvloop==0.9.1
websockets==4.0.1
yarl==1.1.0
git+https://github.com/Rapptz/discord.py.git@rewrite
